{% extends 'base.html.twig' %}

{% block body %}
    <section class="content-header">
        <h1> Carro de Compras</h1>
    </section>

    <table class="table">
        <div class="col-xs-6">
          <div class="table-responsive">
            <tr>
                <th><strong>Nombre</strong></th>
                <th><strong>Descripcion</strong></th>
                <th><strong>Precio</strong></th>
            </tr>
            
        <tbody>
        {% for pizza in cart %}
            <tr>
                <td> {{ pizza.nombre }}</td>

                <td> {{ pizza.descripcion }}</td>

                <td> {{ pizza.precio }}</td>
            </tr>
            </div>
        </div>
        {% endfor %}
    </table>
        </tbody>



    <ul>
        <li>
            <a href="{{ path('pizza_index') }}">Volver</a>
        </li>
    </ul>
{% endblock %}
