{% extends 'base.html.twig' %}

{% block body %}
    <section class="content-header">
        <h1>Agregar Nueva variedad de Pizza</h1>
    </section>

<section class="content">
    <div class="row">
        <div class="col-md-1">
            {{ form_start(form) }}
                {{ form_widget(form) }}
            <br>
                <input class="btn btn-warning" type="submit" value="Crear" />
            {{ form_end(form) }}
        </div>
    </div>
</section>

    <ul>
        <li>
            <a href="{{ path('pizza_index') }}">Volver a la Carta</a>
        </li>
    </ul>
{% endblock %}
