<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}PizzaNuestra{% endblock %}</title>

    <link rel="stylesheet" href="{{asset('asset/css/bootstrap/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{asset('asset/css/responsive.css') }}" />
    {% block stylesheets %}
        <link rel="shortcut icon" href="asset/images/favicon.ico">
    {% endblock %}
  </head>
  <body>
    {% block body %}

    {% endblock %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    {% block javascripts %}
    {% endblock %}
  </body>
</html>