<aside class="main-sidebar">
    <section class="sidebar">
        <form action="#" class="sidebar-form" method="get">
            <div class="input-group">
                <input class="form-control" name="q" placeholder="Search..." type="text"/>
                            <span class="input-group-btn">
                                <button class="btn btn-flat" id="search-btn" name="search" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
            </div>
        </form>
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MENU PRINCIPAL</li>
            <li class="">
                <a href="pizza">
                    <i class="fa ion-pie-graph"></i>
                    <span>Productos</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-th"></i>
                    <span>Pedidos</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="pizzapedido/new">
                            <i class="fa fa-circle-o"></i>
                            Nuevo
                        </a>
                    </li>
                    <li>
                        <a href="pizzapedido/">
                            <i class="fa fa-circle-o"></i>
                            Ver todos
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </section>
</aside>