<footer id="footer" class="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-5 col-sm-offset-7 col-xs-10 col-xs-offset-2">
					<div class="contact_area wow slideInLeft" data-wow-duration="2s">
						<div class="head_title text-center">
							<h4>Contacto</h4>
							<div class="separetor"></div>
						</div>
						<div class="main_contact_content">
							<div class="row">
								<div class="col-sm-6">
									<div class="single_contact text-left">
										<h5> Pizza Nuestra </h5>
										<span>Maipu 555</span>
										<span>Rio Cuarto Cordoba</span>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="single_contact text-left">
										<h5>Hace tu pedido</h5>
										<span>pedidos@pizzanuestra.com</span>
										<span>+54 351 7736 643</span>
									</div>
								</div>
							</div>
							<form action="/enviar" method="post">
							<div class="contact_form_area">
								<h4>Formulario de contacto</h4>
									<div class="row">
										<div class="col-sm-6 col-xs-6">
											<div class="form-group">
												<label for="name">Nombre </label>
												<input type="text" class="form-control" id="name" name="nombre" placeholder="Nombre">
											</div>
										</div>
										<div class="col-sm-6 col-xs-6">
											<div class="form-group">
												<label for="email">E-mail</label>
												<input type="email" class="form-control" id="email" name= "desde" placeholder="Email">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<div class="form-group">
												<label for="mensaje">Mensaje</label>
												<textarea class="form-control" id="mensaje" rows="3" name="mensaje" placeholder="Mensaje"></textarea>
											</div>
										</div>
										<div class="form_btn_area text-center">
											<input type="submit" name="submit"  class="btn" value="Enviar"/>
										
										</div>
									</div>
							</div>
						</form>
						</div>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="copyright_text_area">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="single_footer text-right wow zoomIn" data-wow-duration="2s">
							<p>Hecho Baez / Reinaldo 2018.</p>
							<p>Todos los derechos reservados</p>
						</div>
					</div>
				</div>
			</div>
		</div>