{% extends 'base.html.twig' %}

{% block styleshetts %}
    {# el parent es una herencia #}
    {{  parent() }}
{% endblock %}

{% block body %}
	<div class='preloader'>
		<div class='loaded'>&nbsp;</div>
	</div>

	<section id="banner" class="banner">
		<div class="container">
			<div class="row">
				<div class="main_banner_area text-center">
					<div class="col-md-5 col-sm-5 col-md-offset-7 col-sm-offset-7">
						<div class="single_banner_text wow zoomIn" data-wow-duration="1s">
							<img src="asset/images/logo.png" alt="logo de nuestra marca, es el logo que nos identifica, contiene los colores de italia">
							<div class="separetor"></div>
							<h1>La pizza de Rio Cuarto</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End of Banner Section -->


	
	<section id="abouts" class="abouts sections">
		<div class="container">
			<div class="row">
				<div class="main_abouts">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="single_abouts wow slideInLeft" data-wow-duration="2s">
							<div class="head_title text-center">
								<h2>La mejor Pizza de Cordoba</h2>
								<div class="separetor"></div>
							</div>
							<p>La comida para ser perfecta siempre debe estar acompañada con una buena compania.</p>
							<div class="signature_img text-right">
								<img src="asset/images/logoNegro.png" alt="version mas chica y negra del logo de la empresa de esta pagina mas pequeño" width="150" height="150" />
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="single_abouts wow slideInRight" data-wow-duration="2s">
							<img src="asset/images/abimg.png" alt="masa y palo de amazar" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End of Abouts Section -->


	<section id="menus" class="menus sections">
		<div class="container">
			<div class="row">
				<div class="main_menus">
					<div class="head_title text-center wow slideInDown" data-wow-duration="2s">
						<h3>Menu</h3>
						<div class="separetor"></div>
					</div>
					<div class="menus_top_menu text-center wow slideInDown" data-wow-duration="1.5s">
						<ul>
							<li><a data-toggle="tab" href="#menu1">Pizzas</a></li>
						</ul>
					</div>
					<div class="tab-content">
						<div id="menu1" class="tab-pane fade in active">
							<h3>Pizzas</h3>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="single_menus wow slideInLeft " data-wow-duration="1.5s">
									<ul class="list-group">
										<li class="list-group-item">
											<span class="badge">$100</span> <strong>Muzarella</strong>   <p> Queso Muzarella</p>
										</li>
										<li class="list-group-item">
											<span class="badge">$115</span> <strong>Napolitana.</strong>  <p> Tomate al horno y albahaca</p>
										</li>
										<li class="list-group-item">
											<span class="badge">$186</span><strong>  Salami</strong> <p> Queso, Salami, Aceitunas negras</p>
										</li>
										<li class="list-group-item">
											<span class="badge">$174</span><strong> Mediterranea</strong>   <p>Pimentón asado, zuquini, aceitunas, calabacín, y tomates marinados.</p>
										</li>
										<li class="list-group-item">
											<span class="badge">$100</span> <strong>Pollo</strong>   <p> Pollo trozado con salsa roja</p>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="single_menus wow slideInRight" data-wow-duration="1.5s">
									<ul class="list-group">
										<li class="list-group-item">
											<span class="badge">$115</span> <strong> Champiñones.</strong>  <p> Champignones con salsa blanca</p>
										</li>
										<li class="list-group-item">
											<span class="badge">$125</span> <strong>Fugazza</strong>  <p> Muzzarela, cebolla curada, aceitunas negras</p>
										</li>
										<li class="list-group-item">
											<span class="badge">$186</span> <strong>  Rucula</strong> <p> Rucula, panzeta, queso zardo y aceitunas negras</p>
										</li>
										<li class="list-group-item">
											<span class="badge">$174</span> <strong>  Roquefort</strong> <p> Queso roquefort, muzarella</p>
										</li>
										<li class="list-group-item">
											<span class="badge">$200</span> <strong> Cuatro quesos</strong> <p>Muzarella, Roquefort, Provolone, Zardo </p>
										</li>
									</ul>
								</div>
							</div>
						</div>
					
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}